backcall==0.1.0
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
elasticsearch==6.3.1
fuzzywuzzy==0.17.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
mahotas==1.4.5
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
opencv-python==3.4.5.20
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pydicom==1.2.2
Pygments==2.3.1
pyparsing==2.3.0
pytesseract==0.2.6
python-dateutil==2.7.5
python-Levenshtein==0.12.0
pytz==2018.7
PyWavelets==1.0.1
scikit-image==0.14.1
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
toolz==0.9.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
